<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD POST</title>
</head>
<body>
    <input type="text" id="post-title" placeholder="Заголовок">
    <textarea id="post-text" placeholder="Текст"></textarea>
    <button onclick="sendPost()">Отправить</button>
    <script>
        async function sendPost() {
            const data = {
                title: document.getElementById("post-title").value,
                text: document.getElementById("post-text").value
            };
      
          try {
            const response = await fetch("/posts", {
              method: "POST",
              headers: {
                "Content-Type": "application/json"
              },
              body: JSON.stringify(data)
            });
      
            if (!response.ok) throw new Error("Ошибка сервера");
            
            const post = await response.json();
            console.log("Пост создан:", post);
            window.location.href = "/pages/posts";
          } catch (error) {
            console.error("Ошибка:", error);
          }
        }
    </script>
</body>
</html>