<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
</head>
<body>
    <a href="{{ url_for('add_post_page') }}">ADD POST</a>
    {% for post in posts %}
    <div>
        <h1>{{ post.title }}</h1>
        {% if post.image_id %}
            <img src="{{ url_for('static', path='images/' + post.image_id|string + '.webp') }}" alt="Post photo" width="300">
        {% endif %}
        <p>{{ post.text }}</p>
        <p>{{ post.datetime_create.strftime('%H:%M %d.%m.%Y') }}</p>
        <a href="{{ url_for('get_post_by_id_page', post_id=post.id) }}">Read more</a>
        <hr>
    </div>
    {% endfor %}
</body>
</html>