<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
</head>
<body>
    <div>
        <h1>{{ post.title }}</h1>
        {% if post.image_id %}
            <img src="{{ url_for('static', path='images/' + post.image_id|string + '.webp') }}" alt="Post photo" width="300">
        {% endif %}
        <p>{{ post.text }}</p>
        <p>{{ post.datetime_create.strftime('%H:%M %d.%m.%Y') }}</p>
        <hr>
    </div>
    <div class="comments">
        <h2>Comments: </h2>
        {% for comment in comments %}
            <h5>{{ comment.username }} </h5>
            <p>{{ comment.text }}</p>
            <hr>
        {% endfor %}
    </div>
</body>
</html>